name: Build

on:
  push:
    branches: [main]

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    #
    strategy:
      matrix:
        node: [16, 18, 20]

    name: Node ${{ matrix.node }} build
    steps:
      - uses: actions/checkout@v3
      - name: Run linting rules and build
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - run: npm ci
      - run: npm run lint
      - run: npm run build
